
<div class="center">
    
        {{#network_info}}
        <table class="center net_info" style="padding-top:50px; padding-bottom: 50px;">
            <tr style="background-color: black; line-height: 1;">
                <td>v{{current_hf_version}}</td>
                <td>{{fee_per_kb}} ETN</td>
                <td>{{block_size_limit}} kB</td>
                <td>21Bn</td>
                <td>{{tx_count}}</td>
            </tr>
            <tr style="line-height: 1;">
                <td>Blockchain Version</td>
                <td>Fee per kB</td>
                <td>Block Size Limit</td>
                <td>Max ETN Supply</td>
                <td>Transactions since Genesis</td>
            </tr>
        </table>
        {{/network_info}}

        <h3 style="font-size: 17px; font-weight: 100; margin-top: 20px">
         {{#enable_pusher}}
            | <a href="/rawtx">Transaction pusher </a>
         {{/enable_pusher}}
         {{#enable_key_image_checker}}
            | <a href="/rawkeyimgs">Key images checker</a>
         {{/enable_key_image_checker}}
         {{#enable_output_key_checker}}
            | <a href="/rawoutputkeys">Output keys checker</a>
         {{/enable_output_key_checker}}
         {{#enable_autorefresh_option}}
             |
            {{#refresh}}
                <a href="/">Autorefresh is ON (10 s)</a>
            {{/refresh}}
            {{^refresh}}
               <a href="/autorefresh">Autorefresh is OFF</a>
            {{/refresh}}
         {{/enable_autorefresh_option}}
         {{#testnet_url}}
            | <a href="{{testnet_url}}">Go to testnet explorer</a>
         {{/testnet_url}}
         {{#stagenet_url}}
            | <a href="{{stagenet_url}}">Go to stagenet explorer</a>
         {{/stagenet_url}}
         {{#mainnet_url}}
            | <a href="{{mainnet_url}}">Go to mainnet explorer</a>
         {{/mainnet_url}}
         {{#testnet}}
            | This is <span style="color:#ff6b62">testnet</span> blockchain
         {{/testnet}}
         {{#stagenet}}
            | This is <span style="color:#ff6b62">stagenet</span> blockchain
         {{/stagenet}}

        </h3>


</div>

    {{{mempool_info}}}

    {{#is_page_zero}}
      <h2 style="margin-bottom: 0px; font-size: 28px;">Transactions in the last {{no_of_last_blocks}} blocks</h2>
    {{/is_page_zero}}
    {{^is_page_zero}}
      <h2 style="margin-bottom: 0px; font-size: 28px;">Transactions in older blocks<!--(height: {{height}})--></h2>
    {{/is_page_zero}}

    <h4 style="font-size: 15px; font-weight: 100; margin-top: 0px">(Median size of the last 100 blocks: {{blk_size_median}} kB)</h4>

    <div class="center">

            <table class="center">
                <tr>
                    <td>Block Height</td>
                    <td>Age {{age_format}}<!--(Δm)--></td>
                    <td>Size [kB]<!--(Δm)--></td>
                    <td>Transaction Hash</td>
                    <td>Fee</td>
                    <td>Outputs</td>
                    <td>In/Out<!- -/pID- -></td>
                    <td>Tx Size [kB]</td>
                    <td></td>
                </tr>
                {{#txs}}
                <tr>
                    <td><a href="/block/{{height}}"><b>{{height}}</b></a></td>
                    <td>{{age}}<!--{{time_delta}}--></td>
                    <td>{{blk_size}}</td>
                    <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                    <td>{{tx_fee}}</td>
                    <td>{{sum_outputs_short}}</td>
                    <td>{{no_inputs}}/{{no_outputs}}<!- -/{{pID}}- -></td>
                    <td>{{tx_size_short}}</td>
                    <td><div title="Top Up" class="{{top_up}}"></div></td>
                </tr>
                {{/txs}}
            </table>

            <div id="pages" class="center" style="text-align: center;">
             {{^is_page_zero}}
               <a href="/page/{{prev_page}}">previous page</a> |
               <a href="/">first page</a> |
             {{/is_page_zero}}
                current page: {{page_no}}/<a href="/page/{{total_page_no}}">{{total_page_no}}</a>
                | <a href="/page/{{next_page}}">next page</a>
            </div>

    </div>


{{#show_cache_times}}
    <div class="center">
        <h6 style="margin-top: 1px;color:#949490">
            Tx details construction time: {{construction_time_total}} s
            <br/>
            includes {{construction_time_cached}} s from block cache ({{cache_hits}} hits)
            and {{construction_time_non_cached}} s from non cache ({{cache_misses}} misses)
        </h6>
    </div>
{{/show_cache_times}}
