<div class="center">

    <h2 style="margin-bottom: 0px; font-size: 28px;">
        Transaction Pool
     </h2>
     <h4 style="font-size: 15px; font-weight: 100; margin-top: 0px">(Transactions waiting to be confirmed: {{mempool_size}} | Size: {{mempool_size_kB}} kB)</h4>
     
    
      <table class="center">
            <tr>
                <td>Age [h:m:s]</td>
                <td>Transaction Hash</td>
                <td>Fee</td>
                <!--<td>outputs</td>-->
                <td>In/Out<!- -/pID- -></td>
                <td>Tx Size [kB]</td>
            </tr>
            {{#mempooltxs}}
            <tr>
                <td>{{age}}</td>
                <td><a href="/tx/{{hash}}">{{hash}}</a></td>
                <td>{{fee}}</td>
                <!--<td>{{etn_outputs}}</td>-->
                <td>{{no_inputs}}/{{no_outputs}}<!- -/{{pID}}- -></td>
                <td>{{txsize}}</td>
            </tr>
            {{/mempooltxs}}
        </table>

    {{^mempool_fits_on_front_page}}
      {{#partial_mempool_shown}}
      <div class="center" style="text-align: center; margin-bottom: 10px">
          <a href="/txpool">Only {{no_of_mempool_tx_of_frontpage}} transactions shown. Click here to see all of them.</a>
      </div>
      {{/partial_mempool_shown}}

    {{/mempool_fits_on_front_page}}


</div>
